@font-face {
  font-family: 'Poppinslight';
  src: url('./assets/fonts/Poppins/Poppins-Light.ttf');
}
@font-face {
  font-family: 'Poppinsregular';
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'Poppinsbold';
  src: url('./assets/fonts/Poppins/Poppins-Bold.ttf');
}
@font-face {
  font-family: 'Poppinsmedium';
  src: url('./assets/fonts/Poppins/Poppins-Medium.ttf');
}
@font-face {
  font-family: 'Poppinssemibold';
  src: url('./assets/fonts/Poppins/Poppins-SemiBold.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;